<!DOCTYPE html>

<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>{{project_name}} | {{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" href="{{fav_icon_path}}">
    <link rel="apple-touch-icon" href="{{fav_icon_path}}">
    <link rel="icon" sizes="228x228" href="{{fav_icon_path}}">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"
    />
    <link href="{{getVersionedPath('/assets/layout/stylesheet/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{getVersionedPath('/assets/layout/stylesheet/simple-line-icons.min.css')}}" rel="stylesheet" type="text/css"
    />


    <!--bootstrap css file-->
    <link href="{{getVersionedPath('/assets/layout/stylesheet/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

    <!-- BEGIN THEME STYLES -->
    <link href="{{getVersionedPath('/assets/layout/stylesheet/components-md.css')}}" id="style_components" rel="stylesheet" type="text/css"
    />
    <link href="{{getVersionedPath('/assets/layout/stylesheet/layout.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{getVersionedPath('/assets/layout/stylesheet/darkblue.css')}}" rel="stylesheet" type="text/css" id="style_color"
    />
    <link href="{{getVersionedPath('/stylesheets/alertify.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{getVersionedPath('/stylesheets/waitMe.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{getVersionedPath('/stylesheets/custom_admin.css')}}" rel="stylesheet" type="text/css" /> 

    {% block css %} {% endblock%}

<script type="text/javascript">
     // Set timeout variables.
     var timoutNow = 1800000; // Timeout in 30 mins.
        var logoutUrl = "/logout" // URL to logout page.

        var timeoutTimer;
        // Start timers.
        function StartTimers() {
            timeoutTimer = setTimeout("IdleTimeout()", timoutNow);
        }

        // Reset timers.
        function ResetTimers() {
            clearTimeout(timeoutTimer);
            StartTimers();
        }

        // Logout the user.
        function IdleTimeout() {
            window.location = logoutUrl;

        }

</script>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-md page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo" onload="StartTimers();"
    onmousemove="ResetTimers();">
    {% include "header.html" %}

    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->

    <div class="page-container loader" >
        <!-- BEGIN SIDEBAR -->
        {% include "left-sidebar.html" %}

        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">

            {% block content %} {% endblock %}

        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-close"></i>
        </a>
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->

    {% include "footer.html" %}
    
    <script src="{{getVersionedPath('/assets/layout/javascript/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{getVersionedPath('/assets/layout/javascript/bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{getVersionedPath('/javascripts/waitMe.min.js')}}" type="text/javascript"></script>
    <script type="text/javascript">

       

        //loader function
        function addLoader(element) {
           
            $(element).waitMe({
                effect: 'bounce',
                text: '',
                color: "#000",
                maxSize: '',
                waitTime: -1,
                textPos: 'vertical',
                fontSize: '',
                source: '',
                onClose: function () { }
            });
            // console.log("loader")
        }
        function removeLoader(element) {
            $(element).waitMe("hide");
        }

        //  addLoader(".loader");

    </script>

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{getVersionedPath('/assets/layout/javascript/metronic.js')}}" type="text/javascript"></script>
    <script src="{{getVersionedPath('/assets/layout/javascript/layout.js')}}" type="text/javascript"></script>
    <script src="{{getVersionedPath('/assets/layout/javascript/index.js')}}" type="text/javascript"></script>
    <script src="{{getVersionedPath('/assets/layout/javascript/tasks.js')}}" type="text/javascript"></script>
    <script src="{{getVersionedPath('/assets/layout/javascript/quick-sidebar.js')}}" type="text/javascript"></script>

    <!-- BEGIN CORE PLUGINS -->
    
    <script src="{{getVersionedPath('/assets/layout/javascript/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
    <script src="{{getVersionedPath('/assets/layout/javascript/jquery.cokie.min.js')}}" type="text/javascript"></script>
    <!-- add jquery validation script-->
    <script src="{{getVersionedPath('/assets/layout/javascript/jquery.validate.min.js')}}" type="text/javascript"></script>
    <script src="{{getVersionedPath('/assets/layout/javascript/additional-methods.min.js')}}" type="text/javascript"></script>

    <!-- END PAGE LEVEL PLUGINS -->
    <script src="{{getVersionedPath('/javascripts/moment.js')}}" type="text/javascript"></script>
    <script src="{{getVersionedPath('/javascripts/moment-timezone.js')}}" type="text/javascript"></script>
    <script src="{{getVersionedPath('/javascripts/alertify.js')}}" type="text/javascript"></script>
    
    <script src="{{getVersionedPath('/javascripts/custom_layout.js')}}" type="text/javascript"></script>
    <script src="{{getVersionedPath('/javascripts/get_notifications.js')}}" type="text/javascript"></script>
     {% block js %} {% endblock %}
   
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>