{% extends "./login_layout.html" %}

{% block content %}

{% if valid == 1 %}
<form method="post" name ="reset_password" action="/reset-Password/{{userId}}" class="resetPwd-form">
    <input type="hidden" name="token" value="{{userId}}">
    <h3 class="form-title">Update password</h3>
    {% include "./flashMessage_Success.html" %}<!--include file for flash messages -->
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">New Password</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="password" maxlength="21" id="password" name="password" placeholder="New Password" />
    </div>

    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
        <input class="form-control form-control-solid placeholder-no-fix"  type="password" maxlength="21" name="password_confirmation" placeholder="Confirm Password" />
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-success uppercase" name="Update" value="Submit"/>
    </div>


</form>
{% else %}
<label class="error">This link to reset your password is expired.</label>

{% endif %}
{% endblock %}

{% block js %}
<!-- include developer js file -->
<script src="/javascripts/developer.js"></script>

{% endblock %}



