{% extends "./layout.html" %}

{% block content %}
<div class="page-content">
    <div class="row margin-top-12">
        <div class="col-md-12">
            {% include "./flashMessage_Success.html" %}
            {% include "./validationError.html" %}
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="glyphicon glyphicon-cog"></i>Settings
                    </div>
                </div>

                <div class="portlet-body">
                    <!-- Begin Form -->
                    <form id="settings-form" action="/dashboard/settings/" method="post">
                        <div class="row">
                            <div class="col-md-4">
  
                                    <div class="form-group">
                                            <label class="control-label">
                                                <b>IOS Version</b>
                                            </label>
                                            <span class="star">*</span>
                                            <input type="text"  name="ios_version" maxlength=5 class="form-control" value="{{response.ios_version}}"/>
                                        </div>
                                    <!-- <div class="form-group">
                                            <label class="control-label">
                                                <b>Android Version</b>
                                            </label>
                                            <span class="star">*</span>
                                            <input type="text"  name="android_version" maxlength=5 class="form-control" value="{{response.android_version}}"/>
                                        </div> -->
                     
  
                                    <div class="form-group">
                                            <label class="control-label">
                                                <b>Record Expiry(in hours)</b>
                                            </label>
                                            <span class="star">*</span>
                                            <!--<input type="text"  name="record_expiry" maxlength=5 class="form-control" value="{{response.record_expiry}}"/>-->
                                            <input type="text"  name="record_expiry" maxlength=5 class="form-control" value="{{response.record_expiry}}" />
                                        </div>
                                    <!-- <div class="form-group">
                                            <label class="control-label">
                                                <b>Android Version</b>
                                            </label>
                                            <span class="star">*</span>
                                            <input type="text"  name="android_version" maxlength=5 class="form-control" value="{{response.android_version}}"/>
                                        </div> -->
                                
                                   
                                  
                               
                                <div class="form-actions">
                                    <input type="submit"  class="btn btn-success" value="Update Settings" />
                                    <a href="/dashboard" class="btn default"> Cancel </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END Form -->			
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{getVersionedPath('/javascripts/developer.js')}}" type="text/javascript"></script> 

<!-- include developer js file -->

{% endblock %}

