{% extends "../layout.html" %}
{% block css %}
{% endblock%}

{% block content %}
<div class="page-content">
    <div class="row margin-top-12">

        <div class="col-md-12">
            {% include "../validationError.html" %}
            {% include "../flashMessage_Success.html" %}
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="glyphicon glyphicon-plus"></i>Add Category
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- Begin Form -->
                    <form class="category-form"  action="/category/" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                                <div class="form-group">
                                    <label class="control-label"><b>Category Name</b></label>
                                    <span class="star">*</span>
                                    <input class="form-control" type="text" autocomplete="off" placeholder="Category Name" name="name" />
                                    <label id="area-error" class="error" for="category_name"></label>
                                </div>
                                <div class="form-actions">
                                    <input type="submit" class="btn btn-success uppercase" value="add">
                                    <a class="btn default" href="/category/">Cancel</a><br><br>
                                </div> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/javascripts/developer.js" type="text/javascript"></script>

{% endblock %}
