{% extends "../layout.html" %} {% block css %}
<style>
    th,
    td {

        text-align: left !important;
        padding: 15px
    }

    ;
    .custombtn {
        padding: 8px;
    }
</style>

{% endblock %} {% block content %}
<div class="page-content">
    <div class="row ">
        <!-- Begin Form -->
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="glyphicon glyphicon-user"></i>Review details
                    </div>
                </div>
                <div class="portlet-body">

                    <table style="width:100%; padding:auto;margin:auto" id="user_details_table" class="table-borderless table-striped">
                        <tr>
                            <th>First Name</th>
                            {% if !response.user.firstName %}
                            <td class="first_name">--</td>
                            {% else %}
                            <td class="first_name">{{response.user.firstName}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            {% if !response.user.lastName %}
                            <td class="last_name">--</td>
                            {% else %}
                            <td class="last_name">{{response.user.lastName}}</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <th>E-mail</th>
                            {% if !response.user.email %}
                            <td class="email">--</td>
                            {% else %}
                            <td class="email">{{response.user.email}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Category</th>
                            {% if !response.recommend.type %}
                            <td class="category">--</td>
                            {% elseif response.recommend.type == 1 %}
                            <td class="category">Restaurant</td>
                            {% elseif response.recommend.type == 2 %}
                            <td class="category">Bar</td>
                            {% elseif response.recommend.type == 3 %}
                            <td class="category">Movie</td>
                            {% elseif response.recommend.type == 4 %}
                            <td class="category">TV</td>
                            {% elseif response.recommend.type == 5 %}
                            <td class="category">Book</td>
                            {% else %}
                            <td class="category">Others</td>{% endif %}
                        </tr>
                        <tr>
                            <th>Review For</th>
                            {% if !response.post.title %}
                            <td class="review_for">--</td>
                            {% else %}
                            <td class="review_for">{{response.post.title}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Last Reported</th>
                            {% if !response.updated_at %}
                            <td class="review_for">--</td>
                            {% else %}
                            <td class="review_for">{{response.updated_at }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Report Count</th>
                            {% if !response.count %}
                            <td class="review_for">--</td>
                            {% else %}
                            <td class="review_for">{{response.count}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Review</th>
                            {% if !response.recommend.review %}
                            <td class="review">--</td>
                            {% else %}
                            <td class="review">{{response.recommend.review}}</td>
                            {% endif %}
                        </tr>
                        
                    </table> 
                    <div style="margin:20px; text-align:center;">
                            <a class="btn-danger  text-center"  style="padding:8px" href="/reviews/delete/{{response.recommend._id.toString()}}">Delete</a>
                                              
                            <a class="btn-success  text-center" style="padding:8px" href="/reviews/appropriate/{{response._id.toString()}}">Make as Appropriate</a>
                            <a href="/reviews" class="btn-default text-center" style="padding:8px">Cancel</a>               
                    </div>  
                   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block js %}
<script src="{{getVersionedPath('/javascripts/developer.js')}}" type="text/javascript"></script> {% endblock %}