<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>E-mail</th>
                <th>Status</th>
                <th width="10%">Action</th>
            </tr>
        </thead>
        <tbody>
            {% set curr = response.current-1  %}
            {% set index = curr*response.options.perPage+1  %}
            {% if response.results != "" %}
            {% for user in response.results %}	 
            <tr>
                <td>{{index}}</td>
                {% if !user.firstName  %}
                <td>--</td>
               {% else %} 
                <td>{{user.firstName}} </td>
                {% endif %}
                {% if !user.lastName %}
                <td>--</td>
                {% else %}
                <td>{{user.lastName}}</td>
                {% endif %}
                {% if user.gender == 1 %}
                <td>Male</td>
                {% elseif  user.gender == 2 %}
                <td>Female</td>
                {% elseif  !user.gender  %}
                <td>--</td>
                {% else %}
                <td>Others</td>
                {% endif %}
                {% if !user.email  %}
                <td>--</td>  
                {% else %}                                   
                <td>{{user.email}}</td> 
                {% endif %}
                <td>
                    {% if user.status === 1  %}
                    <a class="disable_user btn btn-circle btn-icon-only btn-default" title="Active" userid="{{user._id}}" status="0" data-toggle="modal" data-target="#disableUserModal" val="{{user._id}}"><i class="fa fa-circle" style="color:green"></i></a>
                    {% else %}
                    <a class="disable_user btn btn-circle btn-icon-only btn-default" title="Inactive" userid="{{user._id}}" status="1" data-toggle="modal" data-target="#disableUserModal"  val="{{user._id}}"><i class="fa fa-circle" style="color:red"></i></a>
                    {% endif %}
                </td>
                <td>
                    <a link = "/users/user_detail/{{user._id}}?refer=/users"  class="anchor_username view-user btn btn-circle btn-icon-only btn-default" title="View detail" ><i style="color:green" class="fa fa-eye"></i></a>
                    <!-- <a deletelink="/users/delete/{{user._id}}" title="Delete" class="delete btn btn-circle btn-icon-only btn-default"><i class="fa fa-times" style="color:red"></i></a> -->
                </td>
            </tr>
            {% set index=index+1 %}
            {% endfor %}					
            {% else %}
            <tr><td colspan="12" class="text-center">No records to display</td></tr>
            {% endif %}				
        </tbody>
    </table>
</div>
<div class="text-center">{% include "../paginate.html" %}</div><br><br>